/* container  */
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-top: 135px;
}

/* header  */
header {
    width: 100%;
    background-color: #372D23;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: inherit;
    width: inherit;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    object-fit: cover;

}

.header_ul {
    display: flex;
    column-gap: 48px;
}

.header_li_a {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #FCC21B;
}

.active {
    color: #ED6C30;
}

.fa-bag-shopping {
    font-size: 40px;
    color: #FCC21B;
}

/* section  */
.section1 {
    height: 640px;
    position: relative;
}

.section_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* article  */
.article1 {
    background-color: #FCC21B;
    width: 762px;
    height: 208px;
    padding: 76px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #FFFFFF;
    box-shadow: 10px 10px 4px #00000080 inset;
    border-radius: 10px;

}

.article1_title {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 6px 2px 4px #372D23;
}

/* second section  */
.second_section {
    width: 100%;
    height: 100%;
    background-color: #FFE18A;
    padding: 100px 80px;
    display: flex;
    column-gap: 40px;
}

.second_artile {
    position: relative;
}

.section_image1 {
    width: 100%;
    height: 100%;
}

.section_image2 {
    width: 100%;
    height: 100%;
}

.article_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
}

footer {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
}

.footer_li_a {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FCC21B;
    
}

.icon_ul {
    display: flex;
    column-gap: 24px;
   
}

.fa-brands {

    font-size: 32px;
    color: #FCC21B;
}